<h1>Sign Up</h1>
<%=form_for @signup do |f| %>
	<p>
		<%= f.label :email %></br>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.hidden_field :referral, :value => params[:referral]	 if params[:referral]%>
		<%= f.submit "Sign Up"%>
	</p>
<%end%>
